:root {
  --header-height: 250px;
  --submit-button-container-height: 90px;
  --submit-button-container-bg: #7bb1a7;
  --submit-button-container-cancel-bg: #9dd3c9;
  --bg-brown: #a36760;
  --header-text-color: #c79288;
  --input-border-color: #e8d9d6;
  --input-focus: #9dd3c9;
  --button-dark-hover: #894d46;
  --back-button-hover: #29417e;
  --add-button-hover: #894d46;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins") url("./assets/fonts/Poppins-Medium.ttf")
      format("truetype"),
    font-weight(400);
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold") url("./assets/fonts/Poppins-Bold.ttf")
    format("truetype") font-weight(700);
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light") url("./assets/fonts/Poppins-Light.ttf")
    format("truetype") font-weight(700);
}

@font-face {
  font-family: "Poppins-Thin";
  src: local("Poppins-Thin") url("./assets/fonts/Poppins-Thin.ttf")
    format("truetype") font-weight(700);
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form,
fieldset,
select,
textarea,
input {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  max-width: 100vw;
}

textarea {
  min-height: 100px;
}

select {
  min-height: 142px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

option {
  width: 100%;
  flex-grow: 0;
}
